%section#portfolio.section.portfolio_section.odd
  .section_header.portfolio_section_header
    %h2.section_title.portfolio_section_title
      = link_to "#" do
        %span.icon.icon-briefcase= fa_icon "briefcase"
        %span.section_name Portfolio
      %span.section_icon

  .section_body.portfolio_section_body
    .portfolio_wrapper
      %h3.title
        %span.category_title_icon.yellow
        Some of my projects
      .portfolio_items
        %article.post.portfolio_post.portfolio_post_1.first.even.category_4.category_6
          .post_pic.portfolio_post_pic
            = link_to "http://placehold.it/800x400", class: "w_hover img-link img-wrap" do
              %span.overlay
              %span.link-icon
              = image_tag "http://placehold.it/252x174", alt: "Portfolio item 14"
          %h4.post_title
            = link_to "Portfolio item 14", "#"
          %h5.post_subtitle Web, Photo

        %article.post.portfolio_post.portfolio_post_1.first.even.category_4.category_6
          .post_pic.portfolio_post_pic
            = link_to "http://placehold.it/800x400", class: "w_hover img-link img-wrap" do
              %span.overlay
              %span.link-icon
              = image_tag "http://placehold.it/252x174", alt: "Portfolio item 14"
          %h4.post_title
            = link_to "Portfolio item 14", "#"
          %h5.post_subtitle Web, Photo

        %article.post.portfolio_post.portfolio_post_1.first.even.category_4.category_6
          .post_pic.portfolio_post_pic
            = link_to "http://placehold.it/800x400", class: "w_hover img-link img-wrap" do
              %span.overlay
              %span.link-icon
              = image_tag "http://placehold.it/252x174", alt: "Portfolio item 14"
          %h4.post_title
            = link_to "Portfolio item 14", "#"
          %h5.post_subtitle Web, Photo
