%section#profile.section.profile_section.first.odd
  = link_to "#", id: "blog_page_link" do
    %span.icon.icon-pencil= fa_icon "pencil"
    %span.label Blog

  .section_header.profile_section_header.opened
    %h2.section_title.profile_section_title.vis
      = link_to "#" do
        %span.icon.icon-user= fa_icon "user"
        %span.section_name Profile
      %span.section_icon

    #profile_header
      #profile_user
        #profile_photo
          = image_tag "moeabdol.png"

        #profile_name_area
          #profile_name
            %h1#profile_title
              %span.firstname Mohammad
              %span.lastname Saed

            %h4#profile_position Computer Scientist

      #profile_data
        .profile_row.name
          %span.th Name:
          %span.td Mohammad Abdullah Saed
        .profile_row.birth
          %span.th Date of Birth:
          %span.td September 7, 1982
        .profile_row.address
          %span.th Address:
          %span.td Riyadh, Saudi Arabia
        .profile_row.email
          %span.th Email:
          %span.td= mail_to "mohd.a.saed@gmail.com"
        .profile_row.website
          %span.th Website:
          %span.td= link_to "http://moeabdol.com","http://moeabdol.com"

  .section_body.profile_section_body
    .profile_body
      %p
        Gastropub heirloom chillwave mumblecore actually, aesthetic Bushwick.
        Ethical ugh lomo crucifix fingerstache cred Helvetica. Aesthetic Banksy
        quinoa swag. Paleo bicycle rights fingerstache, vegan mlkshk raw denim
        photo booth blog 3 wolf moon ethical migas.
      %br
      %p
        Try-hard post-ironic vegan, vinyl lumbersexual small batch ugh mlkshk
        Kickstarter Godard. Disrupt heirloom dreamcatcher, pour-over cray four
        loko paleo vegan art party 3 wolf moon drinking vinegar you probably
        haven't heard of them +1. Next level church-key cold-pressed squid, banh
        mi jean shorts mustache whatever.
