!!! 5
%html{ lang: "en-US" }
  %head
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1" }
    %title moeabdol
    = favicon_link_tag "/favicon.ico?version=1"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css")
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js")
    = csrf_meta_tags

  %body.home.blog.dark
    .switherHead
    .colored
      .blue
      .aqua
      .green
      .yellow
      .red

    #page.hfeed.site
      %header#header.site_header{ role: "banner" }
        .social_buttons
          %ul
            %li
              = link_to "http://stackoverflow.com/users/667127/moeabdol",
                        title: "Stackoverflow", target: "_blank" do
                = fa_icon "stack-overflow"
            %li
              = link_to "https://github.com/moeabdol",
                        title: "Github", target: "_blank" do
                = fa_icon "github"
            %li
              = link_to "https://jp.linkedin.com/in/mohammadsaed",
                        title: "Linkedin", target: "_blank" do
                = fa_icon "linkedin"
            %li
              = link_to "https://twitter.com/moeabdol",
                        title: "Twitter", target: "_blank" do
                = fa_icon "twitter"

      #main
        #primary.content_area
          #content.site_content{ role: "main" }
            = yield

    %footer#footer.site_footer{ role: "contentinfo" }
      .footer_copyright
        moeabdol.com &copy;
        = Time.now.strftime("%Y")
